* {
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: 'poppins', 'sans-seriff';
}
#videoGrid {
	display: flex;
	
	justify-content: center;
}

video {
	height: 70vh;
	width: 60vh;
	object-fit: cover;
	border-radius: 50px;
	margin-right: 10px;
}

.main {
	height: 100vh;
	display: flex;
}

.mainLeft {
	
	flex: 1;
	display: flex;
	flex-direction: column;
}

.mainVideos {
	flex-grow: 1;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainControls {
	padding: 2px 5px 0px 5px;
	height: 65px;
	display: flex;
	align-items: center;
	background-color: #1a1a1a;
	color: #a8a8a8;
	justify-content: center;
	position: relative;
}
.vc-chat{
	position: absolute;
	
	right: 0;
}
.mainControlsBlock {
	width: 300px;
	display: flex;
	justify-content: space-evenly;
}

.mainControlsButton {
	
	letter-spacing: 0.3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 80px;
	height: max-content;
	padding: 5px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
}

.mainControlsButton svg {
	font-size: 19px;
}

.mainControlsButton:hover {
	background-color: #2e2e2e;
	border-radius: 5px;
	color: #d5d5d5;
}

.mainControlsButtonEndMeeting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	margin-left: 10px;
}

.alert{
	position: absolute;
	top: 0%;
	right: -37%;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: red;
}

.leaveMeeting {
	font-weight: 600;
	cursor: pointer;
	padding: 6px 22px;
	margin-bottom: 5px;
	background-color: #b72525;
	color: #fff;
	border-radius: 5px;
}

.unmute,
.stop {
	color: #cc3b33;
}

.mainRight {
	display: none;
	
	flex: 0.25;
	display: flex;
	flex-direction: column;
	background-color: #a8a8a8;
	border-left: 1px solid #2d3d42;
}
#chatbox{
	display: none;
}

.mainHeader {
	text-align: center;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #2d3d42;
}
.chat-wrapper{
	padding: 20px 15px;
}

.mainHeader h5 {
	font-weight: 700;
	color: #000;
	margin: 0;
}

.mainChatWindow {
	flex-grow: 1;
	overflow-y: auto;
	padding: 16px 15px;
}

.messagesContainer {
	list-style: none;
	color: #000;
}

.message {
	font-size: 13px;
	display: block;
	padding: 10px;
	

}

.messageSendingTo {
	font-size: 12px;
	margin-bottom: 8px;
}

.messageSendingTo span {
	font-size: 12px;
	margin-left: 3px;
	background-color: #f2f2f7;
	padding: 3px 8px;
	border-radius: 4px;
	cursor: pointer;
}

.messageSendingTo span:hover {
	background-color: #e7f1fd;
	color: #2f89f2;
}

.messageSendingTo svg {
	font-size: 10px;
	color: #000;
}

.messageHeader {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-size: 11px;

}



.mainMessageContainer {
	display: flex;
	padding: 16px 15px;
}

.mainMessageContainer input {
	flex-grow: 1;
    background-color: transparent;
    
    border: 1px solid #000;
    padding: 10px;
    font-size: 13px;
    outline: 0;
    color: #000;
    border-radius: 10px;
}

.messagesContainer li{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 20px;
	border-bottom: 1px solid #a8a8a8;
}
	
@media (min-width:320px) and (max-width:768px){
.navbar{
	display: flex;
	justify-content: center!important;
}
#videoGrid{
flex-direction: column;
}
video{
    height: 200px;
    width: 270px;
    border-radius: 0;
	margin: 10px;
}
.mainControls{
justify-content: flex-start!important;
}
}
